streamlit
python-dotenv
langchain
langchain-community
langchain-openai
langchain-google-genai
langgraph
langchain-mcp-adapters
mcp
faiss-cpu
httpx
pypdf
tiktoken
ragas
datasets
langchain-text-splitters
